@page "/"

@using BlazorApp1.Data
@inject WeatherIndexService IndexServise

<center>
    <div class="weathernow">
        <h1>Weather Now</h1>
        <div class="weathernowdiv">
            <input class="img-fluid inputcity weathernow_input" id="input" @bind="input" />
            <button class="btn btn-primary oi oi-magnifying-glass btninputroad" @onclick="GetWeatherData"></button>
        </div>
    </div>

    @if (index == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var index in index)
        {
            <div class="h-25 d-inline-block weather_box">
                <p class="day">@index.Day</p>
                <center> <img class="" src=@index.Icon /> </center>
                <p class="description">@index.Description</p>
                <p class="city">@index.City</p>
                <p>@index.Temp @index.Him</p>
                <p> @index.Pressure</p>
            </div>
        }
    }
</center>

@code {
    string input = "";

    private WeatherIndex[] index;
    private async Task GetWeatherData()
    {
        index = await IndexServise.GetIndexAsync(DateTime.UtcNow, input);
    }

    protected override async Task OnInitializedAsync()
    {
        await GetWeatherData();
        await Task.CompletedTask;
    }
}